{% extends 'base.html' %}
{% block title %} Create Account {% endblock %}

{% block body %} 

<body class="parent intro">

    <div class="child">

        <h2>Create an Account</h2>

        <form action="/create_account" method="POST">
            <p>      
                Username <input type="text" name="username" required>
            </p>

            <p>
                Password <input type="password" name="password" required>
            </p>

            <p>
                <input class="button input_btn" type="submit">
            </p>

        </form>
        
    </div>

</body>

{% endblock %}


