{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}

{% block body %} 

<nav>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<body class="alt_parent second">

    <div class="row title"> 
        <h1 class="col-12 col-lg-10">{{user.username}}'s reading progress</h1>
        
        <div class="col-12 col-lg-2">
            <div>
                <progress value = {{percent}} max = "100"/>
            </div>

            <div class="row">
                <p>{{percent}}%</p>
            </div>
        </div>

    </div>

    <div class="alt_child">

        <h2 class="row list">To Be Read: </h2>

        <div class="row to_be_read">
            <div class="scrollmenu">
                {% for book in user.to_be_read_list %}
                <div class="col book_card" id="{{book.book_id}}">
                    <div class="book_title">{{ book.title }}</div>
                    <img class="poster_img" src="{{ book.poster_path }}">
                    <div class="author_name">By: {{ book.author }}</div>
                    <form action="/user_profile/read" method="POST">
                        <input type="hidden" id="{{book.book_id}}" name="book_id" value="{{book.book_id}}">
                        <button type="submit" class="read-btn">Mark as Read</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>

        <h2 class="row list">Read: </h2>

        <div class="row read">
            <div class="scrollmenu">
                {% for book in user.read_list %}
                <div class="col book_card" id="{{book.book_id}}">
                    <div class="book_title">{{ book.title }}</div>
                    <img class="poster_img" src="{{ book.poster_path }}">
                    <div class="author_name">By: {{ book.author }}</div>
                    <form action="/user_profile/unread" method="POST">
                        <input type="hidden" id="{{book.book_id}}" name="book_id" value="{{book.book_id}}">
                        <button type="submit" class="unread-btn">Remove from Read</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

</body>

{% endblock %}